<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script th:src="@{/js/ckeditor/ckeditor.js}"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <title>jhefd</title>
    <style>
        .cke_editable img{
            width: 100%!important;
        }
    </style>
</head>
<body>
<div>
    <button onclick="getData()" style="position: absolute">get</button>
    <textarea name="editor1" id="hello"></textarea>

</div>
<!--<form  method="POST" enctype="multipart/form-data" th:action="@{/upload}">-->
    Select a file:
    <input id="chooseImg"  type="file" name="file" accept=".png, .jpg, .jpeg"><br><br>
    <button type="submit" onclick="PostImage()" >asdf</button>
<!--</form>-->

    <script>



        $("#hello").click(function () {
            CKEDITOR.replace( 'editor1');
        })
        // var editor = new FCKeditor("editor1");
        GetInstance("editor1");

        console.log(inst)
                $(document).ready(function(){
                    $(".cke_button__image").click(function(){
                        alert("")
                        var btn = jQuery('#chooseImg')[0]
                        jQuery(function($){
                            btn.click();
                            // $('#image').val("http://localhost:8080/img/IMG_3716.jpg");

                        })
                    });
                });

                function readURL(input) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();

                        reader.onload = function(e) {
                            // $('#blah').attr('src', e.target.result);
                           //  alert()
                           // var im="<span><img width='200px' style src="+e.target.result + "><span>;";
                            console.log(im);
                            // CKEDITOR.instances.hello.insertHtml(im);
                        }

                        reader.readAsDataURL(input.files[0]);
                    }
                }

                $("#chooseImg").change(function() {
                    readURL(this);
                });

            // function PostImage() {
            //
            //     const formData = new FormData();
            //     const fileField = $('#chooseImg');
            //
            //     formData.append('file', fileField.files);
            //
            //     try {
            //         const response =  fetch('http://localhost:8080/upload', {
            //             method: 'POST',
            //             body: formData
            //         });
            //         const result =JSON.parse(response);
            //         console.log('Success:', JSON.stringify(result));
            //     } catch (error) {
            //         console.error('Error:', error);
            //     }
            //
            // }



                function PostImage() {

                    var fd = new FormData();
                    var files = $('#chooseImg')[0].files[0];
                    fd.append('file', files);

                    $.ajax({
                        type:'POST',
                        url: 'http://localhost:8080/upload',
                        data: fd,
                        cache: false,
                        contentType: false,
                        processData: false,
                        success:function(data){
                            console.log("success");
                            console.log(data);
                            var srcimg=data["Data"]
                            var im=`<span><img width='200px' src='http://localhost:8080/img/${srcimg}'></span>`;

                            CKEDITOR.instances.hello.insertHtml(im);
                        },
                        error: function(data){
                            console.log("error");
                            console.log(data);
                        }
                    });
                }


    </script>
</body>
</html>
